main {
    padding: 50px 0;
}
.container {
    display: flex;
}
.left {
    width: 300px;
}
.left__first {
    border-radius: 10px;
}
.left__first h2 {
    padding: 23px 0;
    background-color: #f25b61;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    border-radius: 10px 10px 0 0;
    text-transform: uppercase;
}
.left__list {
}

.left__item a {
    display: block;
    padding: 15px 10px;
    color: #333;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    transition: all 0.25s;
}

.left__item a:hover {
    background-color: #f25b61;
    color: #fff;
}
.item__span {
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.3px;
}
.left__item:last-child .item__span {
    justify-content: center;
}
.item__img {
    max-width: 30px;
    object-fit: cover;
    margin-right: 30px;
}
.left__second {
    margin-top: 30px;
}

.left__second img {
    border-radius: 20px;
}
.left__second img:hover {
    scale: 1.05;
    transition: 0.5s;
}
/* left__forth */
.left__forth {
    margin-top: 25px;
    padding: 25px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
}
.left__forth h2 {
    text-align: center;
}
.left__forth h2 a {
    font-size: 3.5rem;
    color: #666;
    text-transform: uppercase;
}
.left__forth h2 a:hover {
    color: lightcoral;
    transition: 0.5s;
}
.forth__tags {
    margin-top: 20px;
}
.forth__item {
    display: inline-block;
    margin-left: 10px;
}
.forth__item a {
    border: 1px solid #ebebeb;
    border-radius: 30px;
    display: block;
    color: #666;
    padding: 8px 10px;
    margin: 5px;
}
.forth__item a:hover {
    background-color: #f25b61;
    color: #fff;
}
/* right */

.right {
    margin-left: 50px;
}

.right__first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-row: repeat(1, 1fr);
}
