.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 280px;
  padding-right: 280px;
  padding-top: 30px;
}

.info {
  flex: 1;
}

.info h2 {
  text-align: left;
  font-size: 24px;
  color: #f25e63;
}



.form-map-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.form-container {
  flex: 1;
  padding: 20px;
}

.map-container {
  flex: 1;
}

.form-row {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  border-style: 1px solid #2e3192;
  cursor: pointer;
  transition: all .4s linear;
}

.form-button:hover {
  border-style: 1px solid #2e3192;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-map-container {
    flex-direction: column;
  }

  .form-container {
    order: 1;
  }

  .map-container {
    order: 2;
    height: 300px;
  }
}