.header-right{
    padding: 0 20px;
    flex-grow: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:20px;
}
.header-right input{
    outline: none;
    border: none;
    height: 20px;
    font-size: 16px;
    text-decoration: none;
    padding: 2px;
}
.header-right i{
    cursor: pointer;
}
.fa-bars{
    display: none;
}