.PLHeader {
  width: 100%;
  height: 35vh;
  background-image: url(http://bizweb.dktcdn.net/100/488/521/themes/913255/assets/main_collection_breadcrumb_bg.jpg?1695187373377);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.PLHeader div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
